/* =============================== */
/*        DARK MODE STYLES         */
/* =============================== */

:root {
  --bg-color: #0f172a;
  --text-color: #e5e7eb;
  --card-bg: #1e293b;
  --accent: #38bdf8;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--accent);
}

.card {
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: 8px;
}

.form {
  padding: 10px;
  display: flex;
  gap: 10px;
}

input, button {
  padding: 0.5rem;
  border: solid 1px var(--accent);
  gap: 15px;
  border-radius: 4px;
}