@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

:root {
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}
