/* =============================== */
/*        DARK MODE STYLES         */
/* =============================== */

:root {
  --bg-color: #0f172a;
  --text-color: #e5e7eb;
  --card-bg: #1e293b;
  --accent: #38bdf8;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--accent);
}

.navbar {
  background-color: var(--card-bg);
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.page {
  display: flex;
  padding: 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}